.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.waveform {
  text-align: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.canvas {
  display: block;
  background: #0000
}
